.cafe-detail {
  height: 100%;
  width: 80%;
  margin: 60px auto;
  text-align: center;
  border: 5px double white;
}

.cafe-image {
  height: 500px;
  width: 70%;
  margin-top: 40px;
}

.cafe-name {
  font-size: 30px;
  margin: 20px 0;
}

.cafe-address {
  font-size: 25px;
  margin: 20px 0;
}

.cafe-URL {
  height: 30px;
  width: 80%;
  margin: auto;
  border: 2px solid white;
  opacity: 0.5;
}

.cafe-purpose {
  font-size: 25px;
  margin: 20px 0;
}

.point {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.cafe-recommend {
  height: 120px;
  width: 80%;
  font-size: 25px;
  margin: 25px auto;
  border: 2px solid white;
}

.cafe-user {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 25px;
}

.all-images {
  height: 200px;
  width: 200px;
}

.post-user {
  margin: 20px;
}

// userページ編集ボタンと併用
.edit-btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cafe-edit {
  width: 110px;
  font-size: 16px;
  padding: 5px;
  background-color: brown;
  letter-spacing: 5px;
  text-align: center;
}

.cafe-destroy {
  width: 110px;
  font-size: 16px;
  padding: 5px;
  margin-left: 30px;
  background-color: rgb(119, 11, 11);
  letter-spacing: 5px;
  text-align: center;
}

.comment {
  text-align: center;
  margin-bottom: 40px;
}

.text-area {
  color: black;
  font-size: 20px;
  width: 60%;
  margin: auto;
  display: block;
}

.comment-image {
  margin: 20px;
}

.comment-btn {
  color: black;
  height: 40px;
  font-size: 18px;
  letter-spacing: 2px;
}

.all-comments {
  margin-top: 50px;
}

.comments-list {
  height: auto;
  width: 70%;
  padding: 20px;
  margin: auto;
  display: flex;
  border: 2px solid white;
}

.comment-user {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
}

.comment-text {
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  width: 50%;
}

.comments-image {
  margin-left: 20px;
}